@tailwind base;
@tailwind components;
@tailwind utilities;

.footer{
  background: rgb(248, 248, 248);
  align-items: center;

}

footer .container div h1{
  color: black;
  text-transform: uppercase;
  padding-bottom: 10px;
}

footer .container div p:hover{
  color: black;
  cursor: pointer;
}

footer .container div{
  min-width: 165px;
  width: 20%;
}

.city div{
  width: 90%;
}

.city div div {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid rgba(153, 153, 153, 0.493);
  position: relative;
  min-width: 293px;
}

.city div div:hover{
  box-shadow: 2px 2px 10px rgba(121, 121, 121, 0.377);
}


.Collection div{
  overflow: hidden;
  width: 24%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 ;
}


.Collection div img{
  height: 100%;
}